@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

body{
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;

}

.top{
    width: 100vw;
    height: 108px;
    justify-content: center;
    align-items: center;  
}

.top > img{
    width: 153.99px;
    height: 38px;
}

nav {
    width: 100vw;
    height: 108px;
}

.top img{
    justify-content: center;
    position: absolute;
    left: 72px;
    top: 35px;
}

nav ul{
    position: absolute;
    left: 560px;
    top: 44px;
    width: 700px;
    height: 49px;
    display: inline-block;
}

nav li{
    display: inline-flex;
    margin-right:70px;
    font-size: 16px;
    

}

nav a{
    text-decoration: none;
    color: #4C5D73;
}

.top p{
    position: absolute; left: 1468px; top: 44px;
    width: 196px;
    height: 19px;
    display: inline-block;
}

.top p > a{
    color: #304F8C;
    font-weight: 600;
    display: inline-block;
    align-items: center;
    text-decoration: none;
}

.cadastro{
    position: absolute; left: 1658px; top: 32px;
    width: 150px; height: 44px;
    border-radius: 8px;
    border-color: #304F8C;
    background: #FFFF;
    border-style: outside;
    text-shadow: none;
    box-shadow: none;
    color: #304F8C;
    font-size: 16px;
    font-weight: 600;
    border-style: solid;
}

.hero{
    position: absolute; left: 72px; top: 127px;
    width: 1780px;
    height: 521px;
}

.hero > h1{
    position: absolute; left: 72px; top: 167px;
    width: 523px; height: 112px;
    font-size: 40px;
    font-weight: bold;
    line-height: 56px;
}

.hero > p{
    position: absolute; left: 72px; top: 295px;
    width: 527px; height: 48px;
    color: #4C5D73;
    font-weight: 400;
    font-size: 16px;
}

.hero > img{
    position: absolute; left: 1306px; top: 127px;
    width: 432px; height: 349px;
}

.conhecer{
    position: absolute; left: 72px; top: 375px;
    width: 250px; height: 60px;
    background-color: #304F8C;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF
}

.retangulo{
    position: absolute; top: 524px;
    width: 1780px; height: 124px;
    border-radius: 10px;
<<<<<<< HEAD
    background-color: #FFFFFF;
    box-shadow: 1px 0px 5px grey
}

.img_4{
    position: absolute; left: 1390px; top: 35px;
=======
}

.img_4{
    position: absolute; left: 1390px; top: 50px;
>>>>>>> 6efe583700a904acc4a07aaa767020157a178c75
    width: 180px; height: 59px;
}

.img_3{
<<<<<<< HEAD
    position: absolute; left: 990px; top: 35px;
=======
    position: absolute; left: 990px; top: 50px;
>>>>>>> 6efe583700a904acc4a07aaa767020157a178c75
    width: 190px; height: 59px;
}

.img_2{
<<<<<<< HEAD
    position: absolute; left: 590px; top: 35px;
=======
    position: absolute; left: 590px; top: 50px;
>>>>>>> 6efe583700a904acc4a07aaa767020157a178c75
    width: 164px; height: 59px;
}

.img_1{
<<<<<<< HEAD
    position: absolute; left: 159px; top: 35px;
    width: 59px; height: 59px;
}

.retangulo > h1{
    position: absolute; left: 227px; top: 45px;
    width: 68px; height: 30px;
    font-size: 19px;
    font-weight: bold;
    color: #111826
}

.retangulo > p{
    position: relative; left: 227px; top: 70px;
    width: 71px; height: 30px;
    font-size: 14px;
    font-weight: normal;
    color: #4C5D73;
}

.servicos{
    width: 1780px; height: 424px;
    position: absolute; top: 736px;
}

.servicos > h1{
    position: absolute; 
    width: 88px; height: 56px;
    font-size: 16px;
    font-weight: normal;
    color: #4C5D73;
    letter-spacing: 3px;

}

.servicos > h2{
    position: absolute; top: 30px;
    width: 826px; height: 80px;
    font-size: 32px;
    font-weight: 600;
    color: #111826;
}

.retangulo_1{
    position: absolute; top: 150px;
    width: 268px; height: 208px;
}

.retangulo_2{
    position: absolute; top: 150px; left: 500px;
    width: 268px; height: 208px;
}

.retangulo_3{
    position: absolute; top: 150px; left: 1000px;
    width: 268px; height: 208px;
}

.retangulo_4{
    position: absolute; top: 150px; left: 1500px;
    width: 268px; height: 208px;
}

.sobre{
    position: absolute; top: 1180px; 
    width: 1265.12px; height: 777.27px;
}

.sobre > h1{
    width: 101px; height: 56px;
    color: #4C5D73;
    font-size: medium;
    font-weight: 400;
    word-spacing: 5px;
}

.sobre > h2{
    position: absolute; top: 30px;
    font-size: 32px;
    font-weight: 600;
}

.sobre > img{
    width: 700px; height: 751px;
    position: relative; bottom: 70px; right: 90px;
}

#p1{
    position: absolute; left: 557px; top: 253px;
    width: 676px; height: 48px;
    color: #4C5D73;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

#p2{
    position: absolute; left: 557px; top: 333px;
    width: 676px; height: 48px;
    color: #4C5D73;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

#p3{
    position: absolute; left: 557px; top: 423px;
    width: 676px; height: 48px;
    color: #4C5D73;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.smile{
    position: absolute; left: 889px; top: 428px;
}

.casas{
    position: absolute; left: 557px; top: 490px;
    width: 214px; height: 48px;
    border-radius: 8px;
    border-color: #304F8C;
    background: #FFFF;
    border-style: outside;
    text-shadow: none;
    box-shadow: none;
    color: #304F8C;
    font-size: 16px;
    font-weight: bold;
    border-style: solid;

=======
    border: solid red 2px;
>>>>>>> 6efe583700a904acc4a07aaa767020157a178c75
}